@import url('http://fonts.googleapis.com/css?family=Ubuntu:400,700');
//
// Bootstrap augmentations.
body
  font-family 'Ubuntu', sans-serif;

.search-query + .btn
  margin-left 1em

// Bootstrap augmentations.
//

.status-menu
  cursor pointer