@import url('http://fonts.googleapis.com/css?family=Ubuntu:400,700');
//
// Bootstrap augmentations.
body
  font-family 'Ubuntu', sans-serif;
  padding-top 70px

.search-query + .btn
  margin-left 1em

// Bootstrap augmentations.
//

table.noborder
  td, th
    border-top-width 0 !important

.status-menu
  cursor pointer