<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Harvester URL Control</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-main">
      <form class="navbar-form navbar-right" ng-show="!urlsCtrl.auth.user"> <!-- sign-in form -->
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" ng-model="username">
          <input type="password" class="form-control" placeholder="Password" ng-model="password">
        </div>
        <button class="btn btn-primary" ng-click="urlsCtrl.authenticate(username, password); password = '';">Sign In</button>
      </form> <!-- sign-in form -->
      <form class="navbar-form navbar-right" ng-show="urlsCtrl.auth.user"> <!-- sign-out form -->
        <button class="btn btn-default" ng-click="urlsCtrl.auth.$logout();">Sign Out</button>
      </form> <!-- sign-out form -->
    </div>
  </div>
</nav>

<div collapse="!urlsCtrl.auth.error">
  <alert class="alert-danger" close="urlsCtrl.auth.error = false;">
    {{urlsCtrl.auth.error}}
  </alert>
</div>
